<div class="iquiry-header">
  <div class="left-header">
    <div class="header-title">
      <%= @room.title %>
    </div>
  </div>
  <div class="right-header">
    <div class="header-button">
      <%= link_to "チャットを終了する", company_room_path(@room), method: :delete, class: "btn btn-outline-danger" %>
    </div>
  </div>
</div>