<%# HEADER %>
<%= render "shared/header" %>
<%# // HEADER %>
<div class="wrapper">
  <%# お問い合わせチャットルームHEADER %>
  <%= render "iquiry_header" %>
  <%# // お問い合わせチャットルームHEADEW %>
  <%# お問い合わせチャットルームメイン %>
  <div class="chat">
    <%= render "main_iquiry" %>
  </div>
  <%# // お問い合わせチャットルームメイン %>
</div>