.company-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.company-lists {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.company-lists>.list {
  height: 20rem;
  margin: 1vh;
  padding: 1vw;
}
.card-img-top {
  height: 10rem;
  position: relative;
}
.card-body {
  height: 10rem;
  color: black;
}