.wt-icon {
  width: 10vw;
  margin-right: 10vw;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

#Navber {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.d-flex {
  margin: 0 0 5px 5px;
}

.search-button {
  width: 10vh;
  border: 0;
  cursor: pointer;
  background-color: #ec782b;
  padding: 8px;
}

.search-icon {
  width: 100%;
}