.second-header {
  width: 100vw;
}
.wt-icon {
  width: 20vw;
  margin-right: 10vw;
}

.btn {
  width: 5vh;
  border: 0;
  cursor: pointer;
  padding: 8px;
}

.search-icon {
  width: 100%;
}

.navbar {
  background-color: #ec782b;
  border-bottom: 1px solid rgba(0, 0, 0, .0975);
  height: 77px;
}