<%# ヘッダー %>
<%= render "shared/header" %>

<%# HOME %>
<div class='main'>
  <div class='title-contents'>
    <h2>パートナー企業を探せるwebサイト</h2>
    <p>そのプロダクト、きっと得意なパートナーが見つかる。</p>
  </div><%# title-contents %>
</div><%# /.main %>