<%# ヘッダー %>
<%= render "shared/header" %>

<%# HOME %>
<div class="main">
  <div id="home" class='big-bg'>
    <div class='home-content wrapper'>
      <h2 class='page-title'>パートナー企業を探せるwebサイト</h2>
      <p>そのプロダクト、得意なパートナーがきっと見つかる。</p>
    </div><%# home-content %>
    <div class="company__register">
      <p>あなたの会社を登録しよう！</p>
    </div>
    <div class="company__btn">
      <%= link_to "会社を登録する", new_company_path(@company), class: "new-company-btn btn btn-info" %>
    </div>
  </div><%# /#home %>

  <%# 企業一覧 %>
  <div class='company-contents'>
    <h2 class='title'>ピックアップ</h2>
    <div class="subtitle" >
      新規登録企業
    </div>
    <%# 企業一覧を表示する部分テンプレート %>
    <%= render partial: "company", collection: @companies %>
  </div>
  <%# /企業一覧 %>

</div><%# /#main %>
