<%# ヘッダー %>
<%= render "shared/header" %>

<%# HOME %>
<div id="home" class='big-bg'>
  <div class='home-content wrapper'>
    <h2 class='page-title'>パートナー企業を探せるwebサイト</h2>
    <p>そのプロダクト、得意なパートナーがきっと見つかる。</p>
  </div><%# home-content %>
</div><%# /#home %>