<div class="rooms">
  <% current_user.rooms.each do |room| %>
    <div class="room">
      <div class="room-name">
        <%= link_to room.title, company_room_iquiries_path(room) %>
      </div>
    </div>
  <% end %>
</div>