/* ユーザーページ */
.user-contents {
  width: 100vw;
  flex-direction: column;
  display: flex;
  align-items: center;
  padding: 5vh 0;
}
.user-box {
  width: 70vw;
  min-width: 1200px;
  flex-direction: column;
  display: flex;
  align-items: center;
}
.user__wrapper{
  min-height: calc(100vh - 161px);
  text-align: center;
}

.page-heading {
  margin: 15px;
  color: #524f4f;
  text-shadow: 0 0 5px #ec782b;
}
.user__profile {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 8px;
}
.table{
  border-collapse: collapse;
  margin: 0 0 32px 20px;
  width: 50%;
}
.table__col1{
  text-align: left;
  font-weight: bold;
  background: #fafafa;
  border-collapse: collapse;
  border: 1px solid #f5f5f5;
  width: 30%;
  padding: 8px;
}
.table__col2{
  text-align: left;
  border: 1px solid #f5f5f5;
  border-collapse: collapse;
  width: 70%;
  padding: 16px 8px;
}
.user__manage {
  width: 50vw;
  margin: 10px 0 32px;
}
.u-edit-btn {
  width: 100%;
}
.user__card {
  display: flex;
  justify-content: center;
}